{% extends 'yahoo/base.html' %}
{% block title %}C$50 Finance: Buy{% endblock %}
{% block body %}


<div id="middle">


<form name= "new" action="" method="post">
<fieldset>
    {% for field in form %}
    {% csrf_token %}


    <div class="form-group">

            <label>{{ field.label_tag }}</label>

        <div>{{ field }}</div>

    </div>

    {% endfor %}

     <div class="form-group">
            <button class="btn btn-default" type="submit">Buy</button>
     </div>
</fieldset>
</form>
</div>
{% endblock %}
